.h{
    font-size: 22px;
    width: 100%;
    margin-top: 0;
}
body{
    background-color: rgb(200, 105, 154);
    color: rgb(5, 48, 33);
}
#t,#q,#r{
    color: rgb(72, 5, 75);
    font-size: 25px;
}
#camera{
    height: 350px;
    width: 350px;
}
